/.build
.DS_Store
Thumbs.db
Desktop.ini
~$*
~*
*.b#?
*.s#?
archive_junk/mk4/sw63_mk4_displaytestboard/sw63_mk4_displaytestboard-backups
pcb/sw63_mk4_v1/jlcpcb/gerber
pcb/sw63_mk4_v1/sw63_mk4_v1-backups
.vscode/settings.json
code/build
