$font-family: "Space Grotesk", sans-serif;
$font-size: 18px;
$font-weight: normal;
$line-height: 1.5;

$header-font-family: "Space Grotesk", sans-serif;
$header-font-weight: bold;
$header-line-height: 1.2;

$background-color: #000;
$text-color: #eee;

$border-width: 1px;

$primary-color: #03ec54;
$secondary-color: #f50a64;

$box-border-color: #333;
$box-background-color: #000;

$main-padding: 2rem;
$box-padding: 1rem;

