@use "../styles/common.scss" as *;

.container {
    // border: $border-width solid $box-border-color;
    background-color: $box-background-color;
    width: 100%;
    margin-top: $box-padding;

    animation-name:fadeIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
}

.header {
    color: $text-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $box-padding $box-padding $box-padding*0.75 $box-padding;
}

.title {
    line-height: $header-line-height;
    font-family: $header-font-family;
    font-size: 1.5rem;
    font-weight: bold;
}

.content {
    color: $text-color;
    padding: 0 $box-padding $box-padding $box-padding;
}

.action {
    display: flex;
    gap: $box-padding;
}