@use "../styles/common.scss" as *;

.container {
    background-color: transparent;
    color: $text-color;
    background-color: transparent;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    border: $border-width solid $text-color;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.2;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: color 0.3s 0.05s, background-color 0.3s 0.05s, opacity 0.3s 0.05s, transform 0.1s, box-shadow 0.1s 0.05s;
    overflow: hidden;
    border-radius: 0;

    &.disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }

    @include accessibilityFocus;

    &:active {
        transform: translate(1px, 2px);
    }

    &:not(:disabled):hover {
        background-color: $text-color;
        color: $background-color;
        box-shadow: 0 0 10px rgba(#fff, 0.3);
    }

    &.pulse {
        animation: pulse 1.5s infinite;
    }
}

.primary {
    color: $primary-color;
    border-color: $primary-color;

    &:not(:disabled):hover {
        background-color: $primary-color;
        box-shadow: 0 0 10px rgba($primary-color, 0.3);
    }
}

.secondary {
    color: $secondary-color;
    border-color: $secondary-color;

    &:not(:disabled):hover {
        background-color: $secondary-color;
        box-shadow: 0 0 10px rgba($secondary-color, 0.3);
    }
}