@use "../styles/common.scss" as *;

.row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;

    @include largeDisplay {
        gap: 1rem;
        flex-direction: row;
        align-items: center;

        &.aligned-height {
            min-height: 2.8rem;
        }
    }

    &+& {
        margin-top: $box-padding * 0.75;

        @include largeDisplay {
            margin-top: 0;
        }
    }
}