@use "./styles/common.scss" as *;

.main {
    max-width: 60rem;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 3em;
    font-weight: bold;
}

.configLabel {
    min-width: 5.5rem;
}

.logo {
    display: block;
    width: 100%;
    max-width: 10rem;
    margin: 0 0 1.5rem -0.5rem;
    transition: filter 0.3s ease;

    &.inactive {
        filter: grayscale(1);
    }
}

.connected {
    // color: $primary-color;
    // font-weight: bold;
}

.disconnected {
    // font-weight: bold;
    // color: $secondary-color;
}

.error {
    color: $secondary-color;
    font-weight: bold;
    margin: 1rem 0;
}